BasedOnStyle: Microsoft
ColumnLimit: 130
IndentWidth: 4
UseTab: Never
PointerAlignment: Left
ReferenceAlignment: Left
ReflowComments: true
AlignAfterOpenBracket: AlwaysBreak
AlignArrayOfStructures: Right
AlignConsecutiveMacros: true
SpaceBeforeInheritanceColon: false
AllowShortBlocksOnASingleLine: true
AllowAllArgumentsOnNextLine: true
